{% extends 'base.html' %}
 {% block content %}
  <div class='login'>
    <h2>Gydytojo informacija</h2>
    <div class='doctor'>
    <div class='info'>
      <h4>Vardas, Pavardė: {{doctor.name}} </h4>
      <h4>Daktaro specialybė: {{doctor.specialist}}</h4>
      <h4>Daktaro kabinetas: {{doctor.cabinet}}</h4>
      <h4>Daktaro El.paštas: {{doctor.email}}</h4>
      <h4>Daktaro telefonas: {{doctor.telephone_number}}</h4>
      </div>
      <div class='timetable'>
        <h3>Darbo laikas:</h3>
        <p>Pirmadienis: {{doctor.monday}}</p>
        <p>Antradienis: {{doctor.tuesday}}</p>
        <p>Trečiadienis: {{doctor.wednesday}}</p>
        <p>Ketvirtadienis: {{doctor.thursday}}</p>
        <p>Penktadienis: {{doctor.friday}}</p>
      </div>
    </div>
    <p><a href="{% url 'doctor:list_doctors' %}">Grįžti atgal</a></p>

  </div>
 {% endblock %}}
