{% extends 'base.html' %}
 {% block content %}
<h2 style='text-align: center'>GYDYTOJŲ DARBO GRAFIKAI</h2>

<form action="" method='GET' class='search'>
    {% csrf_token %}
    <input id='searchinput' type="text" name='name' placeholder="Įveskite daktaro vardą..">
    <input class='button' type="submit" value="Ieškoti">
</form>

    <table id='doctor-list'>
      <tr>
        <th>Specialistas</th>
        <th>Skyrius ar filialas</th>
        <th>Kabinetas</th>
        <th>Gydytojas</th>
        <th>Lygis</th>
        <th>Pirmadienis</th>
        <th>Antradienis</th>
        <th>Trečiadienis</th>
        <th>Ketvirtadienis</th>
        <th>Penktadienis</th>
        <th>Šeštadienis</th>
        <th>Sekmadienis</th>
      </tr>
  {% for doctor in doctor_list %}
      <tr>
        <td>{{doctor.specialist}}</td>
        <td>{{doctor.section}}</td>
        <td>{{doctor.cabinet}}</td>
        <td><a href="{% url 'doctor:doctor_details' pk=doctor.pk %}">{{doctor.name}}</a></td>
        <td>{{doctor.level}}</td>
        <td>{{doctor.monday}}</td>
        <td>{{doctor.tuesday}}</td>
        <td>{{doctor.wednesday}}</td>
        <td>{{doctor.thursday}}</td>
        <td>{{doctor.friday}}</td>
        <td>{{doctor.saturday}}</td>
        <td>{{doctor.sunday}}</td>
      </tr>
  {% endfor %}
    </table>
 {% endblock %}
