{% extends 'base.html' %}
 {% block content %}

<div class="login">
  <h3>Pasirinkite datą ir laiką</h3>
  <form class='login-form' method='POST'>
    {% csrf_token %}
    <div class='register'>
      <label for="datepicker">Diena:</label>
      <input type="text" name="date" value="" id="datepicker" maxlength="100" required />
      <label for="id_hour">Valanda:</label>
      {{form.hour}}
      <label for="id_minutes">Minutės:</label>
      {{form.minutes}}
      <input type="submit" value='Išsaugoti' class="button">
      {{ errmsg }}
    </div>
</form>
</div>
 {% endblock content %}
