.menu{
  width: 100%;
  height: 170px;
  background: rgb(255,254, 235);
}
html, body {
  margin: 0;
  padding: 0;
}
#red{
  color: red;
}
.logo{
  text-align: center;
}
ul#horizontal-list li {
  display: inline;
  font-size: 12px;
}
.link{
  text-align: center;
}
ul a:hover{
  color: red;
}
.list{
  margin-top: 140px;
  text-align: center;
}
.first{
  display: inline-block;
  height: 130px;
  background-color: rgb(249,249,247);
  width: 60%;
  margin: 0 auto;
  padding-bottom: 10px;
}
.second{
  display: inline-block;
  height: 100px;
  background-color: rgb(239,239,239);
  width: 60%;
  margin: 0 auto;
}
.second p a{
  color: rgb(255,101,52);
}
.second p a:hover{
  color: red;
}
.login{
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 140px;
  border: 0.5px solid black;
  padding-top: 20px;
}
.login-form{
  margin: 0 auto;
  text-align: left;
  padding: 10px 10px 10px 10px;
}
.delete-form{
  margin: 0 auto;
  margin-bottom: 100px;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

#id_password{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 40%;
  margin-left: 68px;
}
#id_username{
  margin-left: 21px;
  width: 40%;
}
#info{
  color: rgb(102,102,149);
}
#info1{
  padding-top: 40px;
  padding-left: 10px;
  color: red;
  text-align: left;
}
.button{
  background:    #eeeeee;
  border:        0px solid #556699;
  border-radius: 5px;
  padding:       8px 20px;
  color:         #000000;
  display:       inline-block;
  font:          normal 400 13px/1 "Ubuntu", sans-serif;
  text-align:    center;
  text-shadow:   0px 0px #ffffff;
  text-decoration: none;
}
.button1{
  background:    rgb(113, 152, 106);
  border:        0px solid #556699;
  border-radius: 5px;
  padding:       8px 20px;
  color:         #fff;
  display:       inline-block;
  font:          normal 400 13px/1 "Ubuntu", sans-serif;
  text-align:    center;
  text-shadow:   0px 0px #ffffff;
  text-decoration: none;
}
#id_personal_code{
  margin-left: 75px;
  width: 25%;
  /*margin-bottom: 10px;*/
}
#id_last_name{
  width: 25%;
  margin-top: 10px;
  margin-left: 116px;
}
#id_email{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
}
#id_old_password{
  width: 40%;
  margin-left: 100px;
}
#id_new_password1{
  margin-left: 93px;
  margin-top: 10px;
  width: 40%;
}
#id_new_password2{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 40%;
  margin-left: 22px;
}
.reminder{
  margin-bottom: 20px;
}
#id_password1{
  width: 40%;
  margin-bottom: 10px;
  margin-left: 80px;
}
#id_password2{
  width: 40%;
  margin-bottom: 10px;
  margin-left: 19px;
}
#doctor-list {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#doctor-list td, #doctor-list th {
    border: 1px solid #ddd;
    padding: 8px;
}

#doctor-list tr:nth-child(even){
  background-color: #f2f2f2;
}

#doctor-list tr:hover {
  background-color: #ddd;
}

#doctor-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(255,254, 235);
    color: black;
}
.info{
  text-align: left;
  margin-left: 10px;
}
.info h4{
  margin-bottom:0px;
  margin-top: 2px;
}
.search{
  margin-bottom: 20px;
  margin-left: 10px;
}
#searchinput{
  width: 20%;
  height: 20px;
}
.register{
  margin-bottom: 20px;
}
th{
  text-align: center;
}
