{% extends "base.html" %}
  {% block content %}
    <div class="login">
      <form class="reminder"  method="post">
        {% csrf_token %}
        <label for="username_or_email">Įrašykite elektroninį paštą</label>
        {{form.username_or_email}}
        <input type="submit" name="" value="siųsti">
        {% if form.errors %}
        <p>Paštas neteisingas!</p>
        {% endif %}

      </form>
    </div>
  {% endblock %}
