{% extends "base.html" %}
  {% block content %}
    <div class="login">
      <h4>Jūsų slaptažodis sėkmingai pakeistas</h4>
      <h5><a href="{%url 'registration:login'%}">Galite prisijungti prie sistemos</a></h5>
    </div>
  {% endblock %}
