{% extends "base.html" %}
  {% block content %}
    <div class="login">
      <form class="login-form" method="post">
        {% csrf_token %}
        <label for="password1">Naujas slaptažodis</label>
        {{form.password1}} <br>
        <label for="password2">Pakartokite naują slaptažodį</label>
        {{form.password2}} <br>
        <input type="submit" name="" value="Pakeisti slaptažodį">
      </form>
    </div>
  {% endblock %}
