<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Ligonine</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>

    {{ form.media }}

  </head>
  <body>
    <div class="menu">
      <div class="logo">
        <img src="https://registracija.vrcp.lt/images/title_bar.jpg" alt="">
      </div>
      <div class="link">
        <ul id="horizontal-list">

          <li><a href="{% url 'registration:logout' %}">Išsiregistruoti ir baigti darbą</a> | </li>
          <li><a href="{% url 'doctor:list_doctors' %}">GYDYTOJŲ DARBO GRAFIKAI</a> | </li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'doctor:list_first_doctors' %}">REGISTRACIJA PAS PIRMINIO LYGIO GYDYTOJUS</a> | </li>
          {% else %}
          <li><a href="{% url 'registration:login'%}">REGISTRACIJA PAS PIRMINIO LYGIO GYDYTOJUS</a> | </li>
          {% endif %}
          {% if user.is_authenticated %}
          <li><a href="{% url 'doctor:list_second_doctors' %}">REGISTRACIJA PAS ANTRINIO LYGIO GYDYTOJUS</a></li>
          {% else %}
          <li><a href="{% url 'registration:login'%}">REGISTRACIJA PAS ANTRINIO LYGIO GYDYTOJUS</a></li>
          {% endif %}
          {% if user.is_authenticated %}
          <li> | <a href="{% url 'registration:password_change'%}">PAKEISTI SLAPTAŽODĮ</a> | </li>
          <li><a href="{% url 'registration:registrations' pk=user.pk%}">MANO REGISTRACIJOS</a></li>
          {% endif %}
        </ul>
        <hr>
      </div>

    </div>
    {% block content %}

    {% endblock %}
  </body>
</html>
