{% extends "base.html" %}
  {% block content %}


<div class="list">
  <div class="first">
    {% if user.is_authenticated %}
      <p><a href="{% url 'doctor:list_first_doctors' %}">
        <strong>REGISTRACIJA PAS SAVO ŠEIMOS GYDYTOJĄ <br>
                ARBA KITUS PIRMINIO LYGIO GYDYTOJUS <br>
                (ODONTOLOGĄ, GINEKOLOGĄ, PSICHOLOGĄ)
        </strong>
      </a></p>
      {% else %}
      <p><a href="{% url 'registration:login' %}">
        <strong>REGISTRACIJA PAS SAVO ŠEIMOS GYDYTOJĄ <br>
                ARBA KITUS PIRMINIO LYGIO GYDYTOJUS <br>
                (ODONTOLOGĄ, GINEKOLOGĄ, PSICHOLOGĄ)
        </strong>
      </a></p>
    {% endif %}
  </div>

  <div class="second">
    {% if user.is_authenticated %}
      <p><a href="{% url 'doctor:list_second_doctors' %}">
        <strong>REGISTRACIJA PAS GYDYTOJUS KONSULTANTUS (ANTRINIS LYGIS)</strong>
      </a></p>
    {% else %}
      <p><a href="{% url 'registration:login' %}">
        <strong>REGISTRACIJA PAS GYDYTOJUS KONSULTANTUS (ANTRINIS LYGIS)</strong>
      </a></p>
    {% endif %}

  </div>
</div>



  {% endblock %}
