{% extends 'base.html' %}
{% block content %}

    <div class="login">

      <form  class='login-form' method="post">
        {% csrf_token %}
        <label for="id_username">Elektroninis paštas</label>
        {{ form.username}}
        <br>
        <label for="id_password">Slaptažodis</label>
        {{ form.password }}
        {% if form.errors %}
          <p>Slaptažodis arba elektroninis paštas yra neteisingas!</p>
        {% endif %}
        <div class="">
          <input type="submit" class="button" value="PRISIJUNGTI">
          <a class="button"href="{% url 'registration:signup'%}">REGISTRUOTIS</a>
        </div>
      </form>
      <p id='info'>Pranešame, kad dėl saugumo reikalavimų pakeistas ankstesnis registracijos būdas.<br>
Jei šiuo būdu registruojatės pirmą kartą, spauskite: <a href="{% url 'registration:signup'%}">PRAŠAU SUTEIKTI MAN SLAPTAŽODĮ</a><br>
Jei užmiršote Jums jau suteiktą slaptažodį, spauskite:   <a href="{% url 'password_reset_recover' %}">PRAŠAU PRIMINTI MAN SLAPTAŽODĮ</a></p>

<p id='info1'>NAUDOKITE TIK LIETUVIŠKUS RAŠMENIS  </p>
    </div>

{% endblock %}
