{% extends 'base.html' %}
{% block content %}
<div class="login">
  <form class='login-form' method="post">
    {% csrf_token %}
    <label for="id_old_password">Senas slaptažodis</label>
    {{ form.old_password }} <br>
    <label for="id_new_password1">Naujas slaptažodis</label>
    {{ form.new_password1 }} <br>
    <label for="id_new_password2">Patvirtinkine naują slaptažodį</label>
    {{ form.new_password2 }} <br>
    <button class='button' type="submit">Išsaugoti</button>
  </form>
</div>

{% endblock %}
