{% extends 'base.html' %}
{% block content %}
<div class="login-form">
  {% if registration_list%}
    <table id='doctor-list'>
      <tr>
        <th>Gydytojas</th>
        <th>Laikas</th>
        <th>Funkcija</th>
      </tr>
  {% for registration in registration_list %}
      <tr>
        <td>{{registration.doctor}}</td>
        <td>{{registration.date}}</td>
        <td><a href="{% url 'registration:registration_remove' pk=registration.pk %}" class='button1'>Ištrinti registraciją</a></td>
      </tr>
  {% endfor %}
    </table>
    {% else %}
    <h3>Jūs neturite registracijų.</h3>
    {% endif %}
</div>

{% endblock %}
