{% extends 'base.html' %}
  {% block content %}
  <div class='login'>
    <form class='delete-form' method="post">
      {% csrf_token %}
      <p>Ar tikrai norite panaikinti savo registraciją pas daktarą?</p>
      <input type="submit" class="button" value="Ištrinti">
    </form>
  </div>

  {% endblock %}
