{% extends 'base.html' %}
{% block content %}
<div class="login">
  <form  class='login-form' method="post">
    {% csrf_token %}
    <label for="id_personal_code">Asmens kodas</label>
    {{form.personal_code}} <br>
    <label for="id_last_name">Pavardė</label>
    {{form.last_name}} <br>
    <label for="id_email">Elektroninio pašto adresas</label>
    {{form.email}}
    {{ form.errors }}
    <br>
    <input type="submit" class="button" value="REGISTRUOTIS">

  </form>
  <p>Suvedę duomenis į elektronį paštą gausite jums suteiktą slaptažodį, kurį vėliau galėsite pasikeisti!</p>
  <p id='red'>NAUDOKITE TIK LIETUVIŠKUS RAŠMENIS  </p>
</div>

{% endblock %}
